p {
    color:rgb(132, 39, 203)
}
header {
    background-color: rgb(159, 109, 189);
}
h1 {
    color: black;
     /* background-color: crimson; */
}
h2 {
    color: rgb(130, 1, 250);
}
dt {
    color: darkmagenta;
}