p {
    color: rgb(132, 39, 203);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header {
    background-color: rgb(159, 109, 189);
    text-align: center;
}

h1 {
    color: black;
    /* background-color: crimson; */
}

h2 {
    color: rgb(130, 1, 250);
}

dt {
    color: darkmagenta;
}

li {
    color: rgb(132, 39, 203);
}

table {
    background-color: rgb(217, 179, 253);
    border: 2px solid black margin: auto;
    border-collapse: collapse;
}

th {
    background-color: blueviolet;
}

td {
    border: 2px solid black;
}